@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
img{
  width: 100%;
  pointer-events: none;
}
body{
  background-color: white;
}
.navcontainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: black;
  height: 60px;
}
.navcontainer .navlists{
/* cursor: pointer; */
  display: flex;
}
.navcontainer .navlists li{
  margin: 0 15px;
  font-size: 14px;
  font-weight: 500;
}
.navcontainer .icons{
  display: flex;
}
.logo{
  width: 8%;
}
.icons-items1{
  font-size: 15px;
  color: #f1f1f1;
  font-weight: 100;
  margin-right: 15px;
}
.icons-items2{
  font-size: 15px;
  color: #f1f1f1;
  font-weight: 100;
}
.navcontainer .menuicons{
  cursor: pointer;
  display: none;
}
.navcontainer .icons2{
  display: none;
}
/* Herosection */
.herobanner{
 width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10px 60px 10px;
}
.heroitem{
 margin-left: 100px;
}
.heroitem h2{
color: white;
margin-bottom: 15px;
width: 80%;
font-size: 2rem;
}
.heroitem p{
  color: white;
  font-size: 10px;
  width: 90%;
  margin-bottom: 15px;
}
.heroitem input{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 2px 100px 2px 2px;
  outline:none;
}
.heroitem input::placeholder {
  font-size: 10px;
  font-weight: 500;
}
.heroitem button{
  background-color: orangered;
  font-size: 12px;
  position: relative;
  padding: 4px 7px 4px 7px;
  color: #f1f1f1;
  right: 53px;
  /* top: 20px; */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: 600;
}
.heroinput{
  display: flex;
}
.heroimg{
  margin-left: 10px;
}
.heroimg img{
  width: 60%;
}
/* Section */
.section{
  padding-top: 40px;
  padding-bottom: 40px;
background-color: #f1f1f1;
}
.sectionchild{
  padding-left: 80px;
}
.hometxt h5{
  font-size: 10px;
  font-weight: 550;
}
.table td{
  font-size: 10px;
}
.table tbody td {
  border: 1px solid orange;
  border-radius: 2px;

}
.all {
  padding: 5px 20px 5px 20px;
  background-color: orange;
}
.button {
  padding: 5px 20px 5px 20px;
}
.deliver {
  padding: 5px 20px 5px 20px;
}
.new {
  padding: 5px 20px 5px 20px;
}
.coming {
  padding: 5px 20px 5px 20px;
}
.option select{
border: 1px solid black;
  margin-top: 20px;
  font-weight: 500;
  font-size: 10px;
  padding-right: 50px;
  outline: none;
  font-family: monospace;
}
.herodetails{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.herodetails1{
  width: 18%;
  background-color: white;
  padding: 5px 20px 30px 5px;
border-radius: 4px;
margin-bottom: 10px;
}
.herodetails2{
  width: 18%;
  background-color: white;
  padding: 5px 20px 30px 5px;
border-radius: 4px;
margin-bottom: 10px;
}
.herodetails3{
  width: 18%;
  background-color: white;
  padding: 5px 20px 30px 5px;
border-radius: 4px;
margin-bottom: 10px;
}
.herodetails4{
  width: 18%;
  background-color: white;
  padding: 5px 20px 30px 5px;
border-radius: 4px;
margin-bottom: 10px;
}
.dollar{
  font-size: 8px;
}
.pizzadtl{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
}
.pizzatxt h4{
  font-size: 8px;
}
.rate{
  margin-top: 10px;
  display: flex;
  background-color: #f1f1f1;
  padding: 3px 3px 2px 3px;
}
.rate span{
  margin-top: -6px;
}
.ratecontent{
  display: flex;
  justify-content: space-between;

}
.ratenmb{
  font-size: 13px;
  font-family: monospace;
  margin-left: 5px;
  padding-top: 2px;
}
.btnadder button{
  background-color: orangered;
  color: white;
  margin-top: 10px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 3px;
  padding: 0px 3px 0px 3px;
}
.addcart{
  display: flex;
  justify-content: center;
  align-items: center;
}
.addcart button{
/* background-color: orangered; */
  margin-top: 10px;
  font-size: 12px;
  padding: 3px 5px 3px 5px;
border-radius: 3px;
color: black;
border: 1px solid orangered;
font-family: monospace;
}

.addcart button:hover{
  background-color: orangered;
  color: white;
}

.btn-txt{
  font-size: 11px;
  font-family: monospace;
  border-radius: 3px;
padding: 6px 6px 6px 6px;
}

/* contact */
.contactpage{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px 10px 0px;
}
.contactpage h4{
  width: 60%;
  margin-bottom: 7px;
}
.contactpage p{
  font-size: 12px;
  margin-bottom: 7px;
}
.fooddeliver{
  width: 28%;
}
.contactinput input{
  border-radius: 4px;
border: 1px solid #ddd;
outline: none;
padding-left: 5px;
}
.contactinput input::placeholder{
  font-size: 12px;
}

.contacttextarea textarea{
  border-radius: 4px;
border: 1px solid #ddd;
outline: none;
padding-left: 5px;
}
.contacttextarea textarea::placeholder{
  font-size: 12px;
}

/* footer */
.footer{
  width: 100%;
}
.footercont{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footerlists{
  display: flex;
}
.footerlists li{
  padding: 5px;
}
.socialhandles{
  display: flex;
}
.instagram{
  background-color: #f1f1f1;
  padding: 2px 2px 2px 2px;
  border-radius: 3px;
}
.facebook{
  background-color: #f1f1f1;
  padding: 2px 2px 2px 2px;
  border-radius: 3px;
}
.hrtag{
  color: white;
  width: 100%;
  margin-bottom: 5px;
}
.copyright{
font-size: 10px;
color: white;
display: flex;
justify-content: center;
}
.footerlogo{
  width: 8%;
}
.send-btn{
  font-size: 11px;
  font-family: monospace;
  border-radius: 3px;
padding: 6px 15px 6px 15px;
font-weight: 600;
color: rgba(0,0,0,0.7);
}

/* Responsive */
@media screen and (max-width:900px) {
 .navcontainer .icons2{
    display: block;
    display: flex;
  }
  .navcontainer .icons-items1{
    font-size: 25px;
  }
  .navcontainer .icons-items2{
    font-size: 25px;
  }
 .navcontainer .logo{
    width: 29%;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .navcontainer .navlists{
    display: none;
  }
 .navcontainer .menuicons{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    /* z-index: 5; */
  }
  .navcontainer .icons{
    display: none;
  }

  .navcontainer{
    position: relative;
    transition: 0.5s height ease-in-out;
  }
  .navcontainer.expanded{
height: 100vh;
  }
  .navcontainer.navcontainer.expanded .navlists{
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navcontainer.navcontainer.expanded .navlists li{
    margin: 15px 0;
    font-size: 24px;
  }
  .herobanner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  .heroitem{
    margin-left: 0;
    margin-bottom: 30px;
  }
  .heroitem p{
    font-size: 15px;
  }
  .heroinput{
    display: none;
  }
  .herodetails{
    display: flex;
    align-items: center;
  justify-content: center;
  flex-direction: column;
  }
  .sectionchild{
    padding-left: 10px;
  }
  .herodetails1{
    width: 60%;
  }
  .herodetails2{
    width: 60%;
  }
  .herodetails3{
    width: 60%;
  }
  .herodetails4{
    width: 60%;
  }
  .all {
    padding: 5px 10px 5px 5px;
    background-color: orange;
  }
  .button {
    padding: 5px 5px 5px 5px;
  }
  .deliver {
    padding: 5px 5px 5px 5px;
  }
  .new {
    padding: 5px 5px 5px 5px;
  }
  .coming {
    padding: 5px 5px 5px 5px;
  }
  .contactinput{
    display: flex;
 flex-direction: column;
  }
  .contactpage p{
    width: 70%;
  }
  .contactpage{
    padding-left: 5px;
    display: flex;
    align-items: center;
 justify-content: center;
 flex-direction: column;
  }
  .contactinput2{
    margin-left: 0;
  }
  .fooddeliver{
    margin-top: 10px;
    width: 70%;
  }
  .footercont{
    display: flex;
  flex-direction: column;
    align-items: center;
  }
  .footerlogo{
    width: 30%;
  }
}