@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
  pointer-events: none;
}
body{
  background-color: #f1f1f1;
  font-family: 'Poppins', sans-serif;
}
.logo{
  width: 9%;
}
.navcontainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 70px;
  position: fixed;
  padding: 5px 5px 5px 5px;
  z-index: 1;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.navcontainer .navlists{
  display: flex;
}
.navcontainer .navlists li{
  margin: 0 15px;
  font-size: 14px;
  font-weight: 500;
}
.navcontainer .icons{
  display: flex;
}
.linkhome{
  font-weight: 600;
  font-size: 16px;
  /* identical to box height */
  color: #000000;
}

.linkabout{
  font-weight: 600;
  font-size: 16px;
  /* identical to box height */

  color: #000000;
  /* border-bottom: 2px solid orange; */
}
.linktour{
  font-weight: 600;
font-size: 16px;
/* identical to box height */
color: #000000;
  /* border-bottom: 2px solid orange; */
}
.linkcontact{
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}

.navcontainer .menuicons{
  cursor: pointer;
  display: none;
}
.navcontainer .icons2{
  display: none;
}
.bookingbtn button{
  /* border: 1px solid orange; */
  height: 30px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
background: #FB8500;
border: 1px solid #FB8500;
border-radius: 20px;
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;
width: 115px;
color: #F1F1F1;
}
.bookingbtn button:hover{
  background-color: transparent;
  color: #FB8500;
}
/* Herosection */
.herobanner{
  background-color: #FFFEFE;
width: 100%;
}
.herochild{
  display: flex;
  justify-content: center;
  justify-content: space-around;

  padding: 90px 0px 20px 70px;
}
.herotag{
  margin-top: 36px;
  display: flex;
justify-content: flex-start;
flex-direction: column;
}
.heroimg{
  width: 28%;
  display: flex;
  justify-content: flex-end;
}
.heroptag p{
  width: 49%;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  line-height: 25px;
}
.herotxt{
  line-height: 40px;
}
.herotxt h4{
color: #000000;
font-size: 28px;
}
.traveltxt{
font-weight: 700;
font-size: 50px;
color: #000000;
}
.registerbtn button{
  width: 89px;
height: 35px;
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;
filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
color: #F1F1F1;
background: #FB8500;
border: 1px solid #FB8500;
border-radius: 5px;
margin-top: 20px;
}
/* .section */ 

.sectionbg{
  padding-top: 50px;
  padding-bottom: 20px;
  background: #FFFEFE;
  width: 100%;
  
}

.sectionchild{
  display: flex;
 justify-content: space-around;
 align-items: center;
 justify-content: flex-end;

}
.sectionptag{
  display: flex;
justify-content: center;
margin-left: 190px;
margin-bottom: 10px;
}
.sectionptag p{
  width: 63%;
  font-weight: 500;
  font-size: 19px;
}
.travelsection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.sectionimg{
  width: 50%;
}
.sectionimg img{
  margin-left: 260px;
}
.exclusivetxt{
  background-color: #FB8500;
  margin-bottom: 10px;
  /* width: 16%; */
  padding: 5px 5px 5px 5px;
  border-radius:5px;
  color: white;
  font-weight:700;
  font-size:15px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
.taketxt{
  font-weight: 700;
  width: 25%;
  font-size: 20px;
font-family: 'Poppins',monospace;
}
.groupimg{
  display: flex;
}
.group2{
  position: relative;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
right: 18px;
}
.spancounter span{
  font-weight: 600;
}
.group3{
  position: relative;
  filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.25));
right: 35px;
}
.sectionbtn{
  display: flex;
  margin-top: 15px;
}
.supportbtn button{
  background: #FB8500;
  border: 1px solid #FB8500;
  border-radius: 5px;
  font-weight: 600;
font-size: 13px;
padding: 5px 7px 5px 7px;
color: #FFFEFE;
margin-left: 35px;
}
.contactbtn button{
  padding: 5px 7px 5px 7px;
font-weight: 600;
font-size: 13px;
/* identical to box height */
color: #000000;
background: #FFFDFB;
border: 1px solid #FB8500;
border-radius: 5px;
/* font-family: 'Poppins'; */
}

/* section2 */
.sectionimgcollection{
  background-color: #FFFEFE;
  padding: 40px 5px 148px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
width: 100%;

}
.fistsectionimg{
  width: 25%;
  margin-bottom: 20px;
}
.secondsectionimg{
  width: 23%;
  margin-bottom: 20px;
}
.thirdsectionimg{
  width: 24%;
  margin-bottom: 20px;

}
.filterblur{
  width: 27%;
  /* top: 50px; */
position: absolute;
margin-top: -50px;
margin-left: -14px;
display: flex;
align-items: center;
flex-direction: column;
background: #FFFEFE;
border: 1px solid #FFFEFE;
filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));

}

.booknow button{
  font-weight: 600;
font-size: 17px;
text-transform: uppercase;
color: #FB8500;
background: #FFFEFE;
border: 1px solid #FB8500;
padding: 5px 10px 5px 10px;
}
.booknow button:hover{
  background: #FB8500;
  color: #FFFEFE;
}
.sectionrate{
display: grid;
grid-template-columns: 1fr 1fr;
grid-column-gap: 20px;
  margin-bottom: 15px;
}
.travelh4{
  width: 60%;
margin-bottom: 15px;
padding-top: 20px;
}
.travelh4 h4{
  font-weight: 550;
  font-size: 18px;
  color: #000000;
}
.ratings{
  display: flex;
  margin-top: 10px;
color: #FB8500;
cursor: pointer;
}

/* contact */
.contactsection{
background: #FFFEFE;
padding: 25px 5px 20px 5px;
}
/* Responsive */
@media screen and (max-width:900px) {
 .navcontainer .icons2{
    display: block;
    display: flex;
  }
  .navcontainer .bookingbtn{
    display: none;
  }
  .navcontainer .icons-items1{
    font-size: 25px;
  }
  .navcontainer .icons-items2{
    font-size: 25px;
  }
 .navcontainer .logo{
    width: 49%;
    position: absolute;
    top: 17px;
    left: 20px;
  }
  .navcontainer .navlists{
    display: none;
  }
 .navcontainer .menuicons{
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
    /* z-index: 5; */
  }
  .navcontainer .icons{
    display: none;
  }

  .navcontainer{
    position: relative;
    transition: 0.5s height ease-in-out;
  }
  .navcontainer.expanded{
height: 100vh;
  }
  .navcontainer.navcontainer.expanded .navlists{
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navcontainer.navcontainer.expanded .navlists li{
    margin: 15px 0;
    font-size: 24px;
  }
  .herochild{
    display: flex;
    justify-content: space-around;
    padding: 10px 0px 10px 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
 
  .heroimg{
    margin-top: 40px;
    width: 100%;
  }
  .sectionchild{
    display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
  }
  .sectionimg{
    width: 80%;
  }
  .sectionimg img{
    margin-left: 0px;
  }
  .sectionptag{
    display: flex;
  justify-content: center;
  margin-left: 0px;
  }
  .sectionptag p{
    width: 90%;

  }
  .taketxt{
    margin-top: 15px;
    margin-bottom: 10px;
    width: 70%;
  }
  .heroptag p{
    width: 100%;
  }
  .exclusivetxt{
    padding: 7px 7px 7px 7px;
  }
  .sectionimgcollection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .filterblur{
    width: 70%;
  }
  .fistsectionimg{
    width: 60%;
  }
  .secondsectionimg{
    width: 70%;
    margin-top: 250px;
    padding-bottom: 40px;
  }
  .thirdsectionimg{
    width: 70%;
    margin-top: 250px;

  }
  .travelh4{
    width: 80%;
  }
  .sectionrate{
  display: flex;
  flex-direction: column;
    }
    .ratings{
      margin-bottom: 20px;
    }
    
}
